{% extends 'showroom/base.html' %}
{% block style %}
<style>
  .card:hover{
    transform: scale(1.2) ;
    transition: transform 1s ease;
  }
</style>
{% endblock style %} 
{% block content %}
{% if models %}

<div class="container mt-5 mb-5">
  <div class="row">
    <h1 class="text-center bg-primary text-white">{{models.0.brand}}</h1>
{% for model in models %}

    <div class="col-lg-4 col-md-6 mb-4 text-center">



      <div class="card mt-5" style="width: 18rem;">
        <img src="{{ model.image.url }}" height="250px" width="250px" class="card-img-top" alt="No image found">
        <div class="card-body">
          <p class="card-text"><strong>{{model.name}}</strong></p>
          <p class="card-text"><strong>Price : </strong>${{model.price}}</p>
          <p class="card-text"><strong>Engine : </strong>{{model.engine}}</p>
          <p class="card-text"><strong>Showroom : </strong>{{model.showroom}}</p>
          <p class="card-text"><strong>Features : </strong>
            {% for feature in model.features.all %}
            <span class="align-items-center">{{feature}},</span>
        </p>

            {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endif %}
{% endblock content %}